@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="main-banner">
        <img src="images/legs.png" width="100%" alt="" />
        <p class="main-banner-red-text">NOVÁ DÍVČÍ KOLEKCE<br>ŠETRNÁ K DĚTSKÝM NOHÁM</p>
        <p class="main-banner-blue-text">NEJEN DO MĚSTA,<br>ALE I DO PŘÍRODY</p>
        <button class="main-banner-button">zobrazit produkty</button>
    </div>

    <div class="boot-types-whole">
        <div class="boot-types-container">
            <img src="images/01.png" width="100%" alt="" />
            <p>KLUČIČÍ <br> BOTY</p>
        </div>
        <div class="boot-types-container">
            <img src="images/02.png" width="100%" alt="" />
            <p>DÍVČÍ BOTY</p>
        </div>
        <div class="boot-types-container">
            <img src="images/03-01.png" width="100%" alt="" />
            <p>JAK SPRÁVNĚ <br> VYBRAT?</p>
        </div>
    </div>

    <div class="divider"></div>

    <div class="text-container">
        <p class="red-text">Nejnovější kousky&#160;</p>
        <p class="blue-text">v naší nabídce</p>
    </div>

    <div class="new-stock-container">
        <div class="new-stock-boots">
            <img src="images/15146773-eb93-11eb-9461-02420a000b04.png" height="280" width="250" alt="">
            <p class="new-stock-boots-text new-stock-text-margin">Papučky barefoot hnědé <br> kožené</p>
            <div class="price-container">
                <p class="text-price">529 Kč</p>
                <p class="old-price">699 Kč</p>
            </div>
        </div>
        <div class="new-stock-boots">
            <img src="images/79ec4063-e3fd-11eb-8d3f-02420a000b23.png" height="280" width="250" alt="">
            <p class="new-stock-boots-text">Papučky barefoot růžové</p>
            <div class="price-container">
                <p class="text-price">529 Kč</p>
                <p class="old-price">699 Kč</p>
            </div>
        </div>
        <div class="new-stock-boots">
            <img src="images/7c895c56-e3fd-11eb-8d3f-02420a000b23.png" height="280" width="250" alt="">
            <p class="new-stock-boots-text">Sandálky modré umělé</p>
            <div class="price-container">
                <p class="text-price">529 Kč</p>
                <p class="old-price">699 Kč</p>
            </div>
        </div>
        <div class=new-stock-boots>
            <img src="images/8291fafa-e3fd-11eb-8d3f-02420a000b23.png" height="280" width="250" alt="">
            <p class="new-stock-boots-text new-stock-text-margin">Netlačící boty s vysokou <br> špičkou</p>
            <div class="price-container">
                <p class="text-price">529 Kč</p>
                <p class="old-price">699 Kč</p>
            </div>
        </div>
        <div class="new-stock-boots">
            <img src="images/15146773-eb93-11eb-9461-02420a000b04.png" height="280" width="250" alt="">
            <p class="new-stock-boots-text new-stock-text-margin">Papučky barefoot hnědé <br> kožené</p>
            <div class="price-container">
                <p class="text-price">529 Kč</p>
                <p class="old-price">699 Kč</p>
            </div>
        </div>
        <div class="new-stock-boots">
            <img src="images/79ec4063-e3fd-11eb-8d3f-02420a000b23.png" height="280" width="250" alt="">
            <p class="new-stock-boots-text">Papučky barefoot růžové</p>
            <div class="price-container">
                <p class="text-price">529 Kč</p>
                <p class="old-price">699 Kč</p>
            </div>
        </div>
        <div class="new-stock-boots">
            <img src="images/7c895c56-e3fd-11eb-8d3f-02420a000b23.png" height="280" width="250" alt="">
            <p class="new-stock-boots-text">Sandálky modré umělé</p>
            <div class="price-container">
                <p class="text-price">529 Kč</p>
                <p class="old-price">699 Kč</p>
            </div>
        </div>
        <div class=new-stock-boots>
            <img src="images/8291fafa-e3fd-11eb-8d3f-02420a000b23.png" height="280" width="250" alt="">
            <p class="new-stock-boots-text new-stock-text-margin">Netlačící boty s vysokou <br> špičkou</p>
            <div class="price-container">
                <p class="text-price">529 Kč</p>
                <p class="old-price">699 Kč</p>
            </div>
        </div>
    </div>

    <div class="show-stock-button">
        <button>zobrazit celou nabídku</button>
    </div>