<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nejlepší Boty</title>
    <link rel="stylesheet" href="@(Context.Request.PathBase)/css/bootstrap-3.4.1-dist/css/bootstrap.min.css">
</head>
<body>


    @RenderBody()


</body>
</html>