<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nejlepší Boty</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <header>
        <div class="contact">
            <img src="../../images/8.png" height="24" width="16" class="img-phone" alt="" />

            <a href="" class="pc-resolution-contact">+420 777 666 555</a>
            <a href="" class="mobile-resolution-contact">777 666 555</a>
            |
            <a href="">info@nejlepsiboty.cz</a>
        </div>

        <div class="login">
            <a href=""><img src="../../images/profile-user.svg" height="23" width="23" alt="" /></a>
            <p>Přihlásit se</p>
        </div>
    </header>

    <div class="upper-banner">
        <img src="../images/Group_4.svg" height="52" width="121" alt="" />

        <div class="upper-banner-right-items">
            <div class="div-input"><input type="text" placeholder="Vyhledat zboží..." class="upper-banner-input"></div>
            <img class="loupe" src="../images/loupe.png" alt="">
            <img src="../images/basket.png" class="margin-element-left" alt="" />
            <img src="../images/heart.svg" class="margin-element-left" alt="" />
        </div>
    </div>

    <div class="category-select">
        <div class="category-select-container category-select-border-left category-select-left-top-border">
            <p>Chlapecké</p>
            <img src="../images/Group 169.png" height="23" alt="">
        </div>
        <div class="category-select-container category-select-border-left category-select-right-top-border">
            <p>Dívčí</p>
            <img src="../images/Group 171.png" height="23" alt="">
        </div>
        <div class="category-select-border-left category-select-left-bottom-border">
            <p>Doplňky</p>
        </div>
        <div class="category-select-border category-select-right-bottom-border">
            <p>Ostatní</p>
        </div>
        <div class="category-contact category-select-border-right">
            <p>Kontakt</p>
        </div>
    </div>








    @RenderBody()




    <div class="divider"></div>

    <div class="icons-with-text">
        <div class="icons-text-container">
            <div class="icons">
                <img src="../images/Group%20195.png" height="38" width="44" alt="" />
            </div>
            <p>VŠE MÁME SKLADEM</p>
        </div>

        <div class="icons-text-container">
            <div class="icons">
                <img src="../images/Group%20196.png" height="38" width="44" alt="" />
            </div>
            <p>DOPRAVA ZDARMA</p>
        </div>

        <div class="icons-text-container">
            <div class="icons">
                <img src="../images/Group%20293.png" height="38" width="44" alt="" />
            </div>
            <p>JAK MĚŘIT VELIKOST</p>
        </div>
    </div>

    <div class="newsletter">
        <img src="../images/newsletter_pc_resolution.png" width="100%" class="newsletter-picture-pc" alt="" />
        <img src="../images/boot_on_wood.jpg" width="100%" class="newsletter-picture-mobile" alt="" />
        <p class="bold-newsletter-text">Nezmeškejte nové a výhodné akce</p>
        <p class="bottom-newsletter-text">Zadejte svůj e-mail a obratem vám zašleme PDF s inspirací zdarma.</p>

        <div class="email-button-container">
            <label>
                <div class="email-input">
                    <img src="../images/6_gray.png" alt="">
                    <input type="email" placeholder="Zadej svůj email...">
                </div>
            </label>
            <button>přihlásit</button>
        </div>
    </div>
    <footer>
        <div class="footer-about-us">
            <div class="footer-whole">
                <div class="footer-lorem-container">
                    <p class="about-us">O NÁS</p>
                    <p class="margin-element-left justify">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Etiam quis quam. Pellentesque arcu. Proin
                        pede metus, vulputate nec, fermentum fringilla, vehicula vitae, justo. Morbi imperdiet, mauris ac
                        auctor dictum, nisl ligula egestas nulla, et sollicitudin sem purus in lacus. Praesent vitae arcu
                        tempor neque lacinia pretium. Etiam ligula pede, sagittis quis, interdum ultricies, scelerisque eu.
                        Sed vel lectus. Donec odio tempus molestie, porttitor ut, iaculis quis, sem. Pellentesque arcu.
                        Vestibulum fer-
                    </p>
                </div>

                <div class="footer-list-container">
                    <p class="footer-our-stock">NAŠE NABÍDKA</p>

                    <div class="stock">
                        <ul class="footer-ul">
                            <p>Dívčí</p>
                            <li>Tenisky</li>
                            <li>Holinky</li>
                            <li>Sandály</li>
                            <li>Baleríny</li>
                            <li>Polobotky</li>
                        </ul>

                        <ul class="footer-ul">
                            <p>Chlapecké</p>
                            <li>Tenisky</li>
                            <li>Holinky</li>
                            <li>Sandály</li>
                            <li>Baleríny</li>
                            <li>Polobotky</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="boty-image">
                <img class="change-svg-color" src="../images/Group_4.svg" height="52" width="121" alt="" />
            </div>
        </div>

        <div class="footer-contact">
            <p class="contact-us">KONTAKTUJTE NÁS</p>

            <div class="margin-element-left">
                <img src="../images/6.svg" height="17" width="25" alt="" />
                info@nejlepsiboty.cz
            </div>

            <div class="margin-element-left margin-element-top">
                <img src="../images/8.svg" height="24" width="16" alt="" />
                +420 777 666 555
            </div>

            <div class="social margin-element-top">
                <img src="../images/facebook.png" alt="" width="12" height="24">
                <img src="../images/Group%20153.png" alt="" width="24" height="24">
                <img src="../images/twitter.png" alt="" width="24" height="24">
            </div>

            <p class="margin-element-left">Litvínovská 600, Praha 9, 190 00</p>
        </div>
    </footer>
</body>
</html>