@{
    Layout = "/Views/Admin/Shared/_Layout.cshtml";
}
<div class="container">
<h1>Admin sekce</h1>
<ul>
    <li><a href="@Url.RouteUrl("Color")">Barvy</a></li>
    <li><a href="@Url.RouteUrl("Size")">Velikosti</a></li>
    <li><a href="@Url.RouteUrl("Category")">Kategorie</a></li>
    <li><a href="@Url.RouteUrl("Subcategory")">Podkategorie</a></li
</ul>
</div>