@using BootShop.Models;

@{
    Layout = "/Views/Admin/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Kategorie</h1>
            <table class="table table-striped table-hover">
                <tr>
                    <th>ID</th>
                    <th>Název</th>
                    <th>Podkategorie</th>
                    <th></th>
                </tr>

                @foreach (Category category in ViewBag.Categories)
                {
                    <tr>
                        <td>@category.Id</td>
                        <td>@category.Name</td>
                        <td>
                            <ul>
                                @foreach (Subcategory subcategory in category.Subcategories)
                                {
                                    <li>@subcategory.Name</li>
                                }
                            </ul>
                        </td>
                        <td><a href="@Url.RouteUrl("CategoryDelete", new {id = category.Id})" class="btn btn-danger">Smazat</a></td>
                    </tr>
                }

            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <form method="post" class="well">
                <div class="form-group">
                    <label for="name">Název</label>
                    <input id="name" name="name" type="text" class="form-control" placeholder="Zadejte název" required></input>
                </div>
                <button type="submit" class="btn btn-primary">Přidat kategorii</button>
            </form>
        </div>
    </div>
</div>