@using BootShop.Models;

@{
    Layout = "/Views/Admin/Shared/_Layout.cshtml";
}
<div class="container">
<h1>Velikosti</h1>

@foreach (Size size in ViewBag.Sizes)
{
        <div>@size.Id <a href="@Url.RouteUrl("SizeDelete", new {id = size.Id})" class="btn btn-danger">Smazat</a></div>
}

<form method="post">
    <label>Přidat novou velikost</label>
    <input name="id" type="number"></input>
    <button>Odeslat</button>
</form>

</div>