@{
    Layout = "/Views/Admin/Shared/_Layout.cshtml";
}
<div class="container">
<h1>Velikosti</h1>

@foreach (var size in ViewBag.Sizes)
{
    <p>@size.Id</p>
}

<form method="post">
    <label>Přidat novou velikost</label>
    <input name="id" type="number"></input>
    <button>Odeslat</button>
</form>

</div>