<footer>
    <div class="footer-about-us">
        <div class="footer-whole">
            <div class="footer-lorem-container">
                <p class="about-us">O NÁS</p>
                <p class="margin-element-left justify">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Etiam quis quam. Pellentesque arcu. Proin
                    pede metus, vulputate nec, fermentum fringilla, vehicula vitae, justo. Morbi imperdiet, mauris ac
                    auctor dictum, nisl ligula egestas nulla, et sollicitudin sem purus in lacus. Praesent vitae arcu
                    tempor neque lacinia pretium. Etiam ligula pede, sagittis quis, interdum ultricies, scelerisque eu.
                    Sed vel lectus. Donec odio tempus molestie, porttitor ut, iaculis quis, sem. Pellentesque arcu.
                    Vestibulum fer-
                </p>
            </div>

            <div class="footer-list-container">
                <p class="footer-our-stock">NAŠE NABÍDKA</p>

                <div class="stock">
                    <ul class="footer-ul">
                        <p>Dívčí</p>
                        <li>Tenisky</li>
                        <li>Holinky</li>
                        <li>Sandály</li>
                        <li>Baleríny</li>
                        <li>Polobotky</li>
                    </ul>

                    <ul class="footer-ul">
                        <p>Chlapecké</p>
                        <li>Tenisky</li>
                        <li>Holinky</li>
                        <li>Sandály</li>
                        <li>Baleríny</li>
                        <li>Polobotky</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="boty-image">
            <img class="change-svg-color" src="images/Group%204.svg" height="52" width="121" alt="" />
        </div>
    </div>

    <div class="footer-contact">
        <p class="contact-us">KONTAKTUJTE NÁS</p>

        <div class="margin-element-left">
            <img src="images/6.svg" height="17" width="25" alt="" />
            info@nejlepsiboty.cz
        </div>

        <div class="margin-element-left margin-element-top">
            <img src="images/8.svg" height="24" width="16" alt="" />
            +420 777 666 555
        </div>

        <div class="social margin-element-top">
            <img src="images/facebook.png" alt="" width="12" height="24">
            <img src="images/Group%20153.png" alt="" width="24" height="24">
            <img src="images/twitter.png" alt="" width="24" height="24">
        </div>

        <p class="margin-element-left">Litvínovská 600, Praha 9, 190 00</p>
    </div>
</footer>