<header>
    <div class="contact">
        <img src="images/8.png" height="24" width="16" class="img-phone" alt="" />

        <a href="" class="pc-resolution-contact">+420 777 666 555</a>
        <a href="" class="mobile-resolution-contact">777 666 555</a>
        |
        <a href="">info@nejlepsiboty.cz</a>
    </div>

    <div class="login">
        <a href=""><img src="images/profile-user.svg" height="23" width="23" alt="" /></a>
        <p>Přihlásit se</p>
    </div>
</header>

<div class="upper-banner">
    <img src="images/Group%204.svg" height="52" width="121" alt="" />

    <div class="upper-banner-right-items">
        <div class="div-input"><input type="text" placeholder="Vyhledat zboží..." class="upper-banner-input"></div>
        <img class="loupe" src="images/loupe.png" alt="">
        <img src="images/basket.png" class="margin-element-left" alt="" />
        <img src="images/heart.svg" class="margin-element-left" alt="" />
    </div>
</div>

<div class="category-select">
    <div class="category-select-container category-select-border-left category-select-left-top-border">
        <p>Chlapecké</p>
        <img src="images/Group 169.png" height="23" alt="">
    </div>
    <div class="category-select-container category-select-border-left category-select-right-top-border">
        <p>Dívčí</p>
        <img src="images/Group 171.png" height="23" alt="">
    </div>
    <div class="category-select-border-left category-select-left-bottom-border">
        <p>Doplňky</p>
    </div>
    <div class="category-select-border category-select-right-bottom-border">
        <p>Ostatní</p>
    </div>
    <div class="category-contact category-select-border-right">
        <p>Kontakt</p>
    </div>
</div>
